.TodoItem {
    display: flex;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #00ffff;
    border-bottom: 1px solid #e6e6e6;
}

.TodoItem > p:last-child {
    border-bottom: none;
}
.TodoItem > p {
    margin: 0;
    flex-grow: 1;
    margin: 10px 0 10px 0;
}
.TodoItem-complete > p{
    text-decoration: line-through;
    opacity: .3;
}
.TodoItem > img {
    margin: 10px 0 10px 0;
}