.App {
  text-align: center;
  /* width: 500px; */
  width: 50vw;
  margin: auto;
  border: 1px solid black;
}

#react-version{
  text-align: left;
  font-size: 0.6rem;
  font-weight: bold;
  font-style: italic;
}

.Header {
  display: flex;
  padding: 3px;
}
.Header input {
  margin-left: 6px;
  flex-grow: 1;
  font-weight: 300;
  font-size: 24px;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  border: none;
}
.Header input:focus{
  outline: none;
}
::placeholder{
  opacity: 0.3;
}
